{% extends 'project/base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Project index</h2>
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-outline-primary" href="{{ path('app_project_new') }}"> 
                        Create New Project 
                    </a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created_at</th>
                                <th>Updated_at</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <form method="post" action="{{ path('app_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <a class="btn btn-outline-info" href="{{ path('app_project_show', {'id': project.id}) }}">Show</a>
                                        <a class="btn btn-outline-success" href="{{ path('app_project_edit', {'id': project.id}) }}">Edit</a>
                                        <button class="btn btn-outline-danger">Delete</button>
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}
